body {
  /* background-color: #f8f8f8; */
}

/* Main */
.main {
  margin-top: 2.5em;
}

/* Header */
.header {
  /* height: 90px; */
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}
.header img,
.header h1 {
  display: inline-block;
}
.header h1 {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  font-size: 120%;
}
.header .navbar-brand {
  color: #000;
}

/* Forms */
.login-form,
.generate-voucher-form {
  width: 30%;
  margin: 0 auto;
}
.errorlist,
.errorlist li {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #f00;
  font-size: 90%;
}

/* Messages */
.messages,
.messages li {
  margin: 0;
  padding: 0;
  color: green;
}
.messages {
  list-style: none;
  background: #e7e7e7;
  font-weight: bold;
}
.messages li {
  padding: .5em 0 .5em .5em;
}
