{% extends 'base.html' %}

{% block title %}Voucher Batches{% endblock %}

{% block nav_items %}
<ul class="nav navbar-nav">
  {% block links %}
  {% block voucher_batches %}<li class="active">{% endblock %}
    <a href="{% url 'vouchers:batches' %}">Voucher Batches <span class="sr-only">(current)</span></a>
  </li>
  {% block generate_vouchers %}<li class="dropdown">{% endblock %}
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      Generate Vouchers <span class="sr-only">(current)</span>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="{% url 'vouchers:generate-standard' %}">Standard</a></li>
      <li><a href="">Instant</a></li>
    </ul>
  </li>
  {% endblock %}
</ul>
<ul class="nav navbar-nav navbar-right">
  <li><a href="{% url 'logout' %}">Logout</a></li>
</ul>
{% endblock %}

{% block app_body %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Date/Time Created</th>
      <th scope="col">Value (GHS)</th>
      <th scope="col">Quantity</th>
      <th scope="col">Download Status</th>
    </tr>
  </thead>
  <tbody>
    {% for batch in batches %}
    <tr>
      <td>{{ batch.date_created }}</td>
      <td>{{ batch.value }}</td>
      <td>{{ batch.quantity }}</td>
      <td>
        <form action="{% url 'vouchers:download' pk=batch.pk %}" method="post">
          {% csrf_token %}
          {% if batch.is_downloaded %}
            <button type="submit" class="btn btn-xs btn-primary" disabled>Downloaded</button>
          {% else %}
            <button type="submit" class="btn btn-xs btn-primary">Download</button>
          {% endif %}
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
